header {
	/* backdrop-filter: blur(5px); */
	background-color: #f2f2f2;
	height: 40px;
	width: 100%;
	overflow: hidden;
	padding: 0px;
	z-index: 9999;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #555;
}

.navbar {
	display: flex;
	align-items: center;
}

a {
	text-decoration: none;
}

#logo {
	width: fit-content;
	font-size: 30px;
	margin: 0 10px;
	color: #555;
}
