<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static',filename='css/main.css') }}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static',filename='css/header.css') }}"
		/>
		<title>ZeroToTen</title>
	</head>

	<body>
		<header>
			<nav class="navbar">
				<a href="/"><h2 id="logo">Handwritten</h2></a>
			</nav>
		</header>

		<div>
			<!--
				<h1 class="pt">ZeroToTen</h1>
				<h3 class="pt">
					ZeroToTen is a website which can guess which number you have drawed by
					using a neural network trained on the MNIST datatset
				</h3>
			-->
			<div class="text-center">
				<h1 class="text-inline">Dit tal er</h1>
				<h1 id="result" class="text-inline"></h1>
			</div>
			<table id="statistics">
				<tbody>
					<tr>
						<th>Tal</th>
						<td>0</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
					</tr>
					<tr>
						<th>Sikkerhed</th>
						<td>0%</td>
						<td>0%</td>
						<td>0%</td>
						<td>0%</td>
						<td>0%</td>
						<td>0%</td>
						<td>0%</td>
						<td>0%</td>
						<td>0%</td>
						<td>0%</td>
					</tr>
				</tbody>
			</table>
			<div class="canvas-container">
				<button class="clear-button" onclick="clearCanvas()">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="icon icon-tabler icon-tabler-rotate"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						stroke-width="2"
						stroke="currentColor"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M19.95 11a8 8 0 1 0 -.5 4m.5 5v-5h-5"></path>
					</svg>
				</button>
				<canvas class="canvas" id="drawing" width="28" height="28"></canvas>
			</div>
			<!-- <button class="clear-button">CLEAR</button> -->
			<div class="center-h">
				<button class="guess-button" id="submit">GÆT</button>
			</div>
		</div>

		<script src="{{ url_for('static',filename='js/index.js') }}"></script>
	</body>
</html>
